* text=auto

*.kt text eol=lf
*.kts text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.pro text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.mp3 binary
*.keystore binary
*.jks binary
